.background-Home-Page {
    background-image: url("https://cdn.pixabay.com/photo/2017/10/05/13/50/watercolour-2819482_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-card {
    background-color: ;
}

.welcome-body {
    background-color: lightblue;
}
.get-started {
    text-decoration: black;
    background-color: lightblue;
}

.get-started-image {
    height: 415px;
    width: 415px; 
}

.learn-more {
    background-color: lightblue;
}

.learn-more-body {
    background-color: lightblue;
}

.card-body-learn-more {
    background-color: lightblue;
}